body{
　 text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: 'Comic Sans MS', Helvetica, sans-serif;
}

#board button {
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 60px;
  border: 2px solid #cccccc;
  -webkit-border-radius: 6px;
}

#other button {
  height: 40px;
  width: 150px;
  text-align: center;
  font-size: 24px;
  border: 2px solid #cccccc;
  -webkit-border-radius: 6px;
}

.col-md-6 {
   text-align:center;
}

.col-md-3 {
   text-align:center;
}

.col-md-6 span {
   display:inline-block;
}
